@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #F7F7F5; /* brand-gray */
}

#root {
  height: 100%; /* This ensures the app takes full screen height */
}