.app-container {
  max-width: 500px;
  margin: 40px auto;
  padding: 20px;
  font-family: "Roboto";
  color: #333;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  justify-content: center;
}

.app-header {
  text-align: center;
  margin-bottom: 30px;
}

.logo-title-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.logo-title-container h1{
  font-size: 2.25rem;
  margin-right: 1rem;
}

.logo {
  width: 12rem;
  margin: 0 1rem 0rem 1rem;
}

.subtitle {
  font-size: 1rem;
  margin: 0;
  color: #555;
}

.otp-section {
  margin-bottom: 2rem;
}

.otp-section h2 {
  color: #025373;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.otp-section p {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.section-divider {
  border: none;
  height: 0.25rem;
  background-color: #ddd;
  margin: 1.5rem 0;
}

button {
  background-color: #025373;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
}

button:hover {
  background-color: #025E73;
}

input {
  padding: 8px;
  width: calc(100% - 20px);
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.otp-inputs {
  display: flex;
  gap: 8px;
}

.otp-inputs-container {
  display: flex;
  gap: 2rem;
  align-items: center;
  margin: 10px 0 20px;

}

.otp-inputs-container h3 {
  margin: 0;
  font-size: 1rem;
  margin-bottom: 10px;
}

.otp-inputs input {
  width: 20px;
  height: 25px;
  text-align: center;
  font-size: 18px;
  border-radius: 30%;
  border: 1px solid #ccc;
}