# =======================
# Build artifacts
# =======================
bin/
obj/

# =======================
# IDE / Editor files
# =======================
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates

# Logs
*.log

# Environment / secret files
appsettings.Development.json
/TestResults/
